@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InsuranceCompany</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="header">
        <div class="container">
            <h1>We´ve got you Covered.</h1>
            <p class="firstP">Together we keep each other safe at home or at work. By paying a tiny fee a day, you are fully insured all day long. You get it all for as <span style="color: white">$0.4 per day.</span></p>
            <a class="btn">Join now</a>
            <img class="familyImg" src="~/Images/family.png" />
        </div>
    </div>


    <div class="learn">
        <div class="midContainer">
            <span class="text">What do we have to offer?</span>
            <h3 class="topic">Learn more</h3>
        </div>
    </div>

    <div class="join">
        <div class="midContainer">
            <span class="text">What are you waiting for?</span>
            <h3 class="topic">Join today</h3>
        </div>
    </div>

    <div class="nav">
        <ul>
            <li>Home</li>
            <li>Our offer</li>
            <li>Why us</li>
            <li>Contact</li>
        </ul>

    </div>

    <div class="profiles">
        <div class="profilecontainer">
            <h1>Your personal <br> financial safety <br> net online.</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a class="bigbtn">Join now</a>
        </div>

        <div class="cardsInLine">
            <div class="childImage">
                <img src="~/Images/child.png" />
            </div>

            <div class="childcard">
                <h5 class="profilename">Children</h5>
                <p class="profiletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </p>
            </div>

            <div class="adult">
                <img class="adultImage" src="~/Images/adult.png" />
            </div>

            <div class="basecard">
                <h5 class="profilename">Just right</h5>
                <p class="profiletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </p>
            </div>

            <div class="old">
                <img class="oldImage" src="~/Images/old.png" />
            </div>

            <div class="basecard">
                <h5 class="profilename">Old fart</h5>
                <p class="profiletext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                </p>
            </div>
        </div>

    </div>

    <div class="info">
        <h2 style="
            color: white;
            font-family: Frank Ruhl Libre;
            font-weight: 900;
            font-size:40px">
            About us
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> <br> Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>


    <div class="grid1">
        <div style="background-color: #C7DDEA" class="step1">
            <h3 style="font-family: Frank Ruhl Libre;
            font-weight: 900;
            font-size:40px">
                How <br> It works?
            </h3>
        </div>

        <div class="number">01</div>
        <div class="steps">

            <p style="font-weight: 500;">
                Answer a few questions <br> about yourself
            </p>
        </div>

        <div class="number">02</div>
        <div style="background-color: #EBEBEB" class="steps">
            <p style="font-weight: 500;">
                Choose a plan. <br> Get a quote.
            </p>
        </div>

    </div>

    <div class="grid2">
        <div class="number">03</div>
        <div class="steps">
            <p style="font-weight: 500;">
                Answer some questions about <br> your medical history.
            </p>
        </div>

        <div style="color: #4e342e" class="number">04</div>
        <div style="background-color: #F17949" class="steps">
            <p style="font-weight: 500;">
                Answer some questions about <br> your medical history.
            </p>
        </div>

        <div class="number">05</div>
        <div class="steps">
            <p style="font-weight: 500;">
                Done!
            </p>
        </div>
    </div>
   

    <div class="laststep">

    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>